<% content_for :title do %>
<%= @list.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Lists', List %> > <%= link_to @author.name, user_path(@author.id) %> > <%= @list.title %>
	</div>
</div>

<h3><%= @list.title %></h3>
<div class="row">
	<div class="span8">
		Created by: <%= link_to @author.name, user_path(@author.id) %> on <%= @list.created_at.strftime('%b %e %Y') %>
	</div>
</div>
<% if can? :update, @list %>
	<div class="row">
		<div class="span12">
		<%= link_to 'Edit', edit_list_path(@list),"class" => "btn btn-primary" %>
		<%= link_to 'Destroy', list_path(@list), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span3">
		<strong>Size</strong>: <%= @list.size %>
	</div>
	<div class="span9">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span3">
		<strong>Faction</strong>: <%= link_to @faction.title, faction_path(@faction.id) %>
	</div>
	<div class="span9">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span3">
		<strong>Caster</strong>: <%= link_to @caster.title, caster_path(@caster.id) %>
	</div>
	<div class="span9">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span10">
		<%= @list.body.gsub(/\n/, '<br />').html_safe %>
	</div>
</div>
