<%= form_for @faction do |f| %>
	<% if @faction.errors.any? %>
	<div id="error_explanation" class="row text-error">	
		<div class="span12">
			<h3><%= pluralize(@faction.errors.count, "error") %> prohibited this faction from being saved:</h3>
	    <ul>
	    <% @faction.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
		</div>
	</div>
	<% end %>

<div class="row">
	<div class="span2">
		<%= f.label :title, "Caster Name" %>
	</div>
	<div class="span4">
		<%= f.text_field :title %>
	</div>
	<div class="span6">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.label :system %>
	</div>
	<div class="span4">
		<%= f.select :system, options_for_select([["Warmachine","Warmachine"],["Hordes","Hordes"]]) %>
	</div>
	<div class="span6">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.label :logo, "Faction Logo" %>
	</div>
	<div class="span4">
		<%= f.text_field :logo %>
	</div>
</div>
<div class="row">
	<div class="span8 text-info">
		Only enter the filename of the Faction Logo, images are hosted in the static.sr20x.com s3 bucket 
	</div>
</div>
<div class ="row">
	<div class="span2">
		<%= f.submit %>
	</div>
</div>
<% end %>
