<% content_for :title do %>
Edit <%= @faction.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > <%= link_to @faction.title,faction_path(@faction.id) %> > edit
	</div>
</div>

<h3>Edit <%= @faction.title %> </h3>
<div class="row">
	<div class="span12">
		<%= link_to 'Destroy', faction_path(@faction), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
	</div>
</div>
<%= render 'form' %>
