<% content_for :title do %>
Faction Index
<% end %>
<div class="row">
	<div class="span12">
		Factions > 
	</div>
</div>

<h3>Faction Index</h3>

<% if can? :update, @factions %>
	<div class="row">
		<div class="span12">
			<%= link_to "New Faction",new_faction_path,"class" => "btn btn-success" %>
		</div>
	</div>
<% end %> 

<table class="table table-striped">
<tr>
	<th><h4>Faction</h4></th>
	<th><h4>Total Lists</h4></th>
	<th><h4>Recent List</h4></th>
	<% if can? :update, @factions %>
		<th><h4>Destory</h4></th>
		<th><h4>Edit</h4></th>
	<% else %>
		<th></th>
		<th></th>
	<% end %>
</tr>
<% @factions.each do |faction| %>
<tr>
		<td>
			<div class="row">
				<div class="span1">
					<img class="img-thumbnail" src="http://sr20x.com/static/img/<%= faction.logo %>" alt="<%= faction.title %>"></img>
				</div>
				<div>
					<h5><%= link_to faction.title,faction_path(faction.id) %></h5>
				</div>
			</div>
		</td>	
		<td>
			<%= List.where("faction_id = ?", faction.id).count %>
		</td>
		<td>
			<% List.where("faction_id = ?", faction.id).order("created_at DESC").limit(1).each do |list| %>
				<%= link_to list.title,list_path(list.id) %> by <%= User.find(list.user_id).name %>
			<% end %>
		<% if can? :update, @factions %>
			<td>
				<%= link_to 'Destroy', faction_path(faction), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
			</td>
			<td>
				<%= link_to 'Edit', edit_faction_path(faction),"class"=> "btn btn-primary" %>
			</td>
		<% end %>
</tr>
<% end %>
