<% content_for :title do %>
<%= @faction.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > <%= @faction.title %>
	</div>
</div>

<h3><%= @faction.title %></h3>

<div class="row">
	<div class="span2">
		<img class="img-thumbnail" src="http://sr20x.com/static/img/<%= @faction.logo %>" alt="<%= @faction.title %>"></img>
	</div>
	<div class="span10">
		View recent lists:
	</div>
</div>
<div class="row">
	<div class="span2 offset1">
		<h4>Faction</h4>
	</div>
	<div class="span8">
		<h4>Recent Lists</h4>
	</div>
	<!--<div class="span2"><h2>Map</h2></div>-->
</div>
