<% content_for :title do %>
<%= @faction.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > <%= @faction.title %>
	</div>
</div>

<h3><%= @faction.title %></h3>

<% if can? :update, @factions %>
	<div class="row">
		<div class="span2">
			<%= link_to "Edit Faction",edit_faction_path,"class" => "btn btn-success" %>
		</div>
		<div class="span2">
			<%= link_to 'Destroy', faction_path(@faction), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
		</div>
	</div>
<% end %> 

<div class="row">
	<div class="span2">
		<img class="img-thumbnail" src="http://sr20x.com/static/img/<%= @faction.logo %>" alt="<%= @faction.title %>"></img>
	</div>
	<div class="span10">
		View recent lists:
	</div>
</div>
<div class="row">
	<div class="span4">
		<h4>Faction</h4>
	</div>
	<div class="span8">
		<h4>Recent Lists</h4>
	</div>
</div>
<% @casters.each do |caster| %>
<div class="row">
	<div class="span4">
		<%= link_to caster.title,caster_path(caster.id) %>
	</div>
	<div class="span8">
		Recent Lists
	</div>
</div>
<% end %>
