<% content_for :title do %>
Missions from <%= @packet.title %>
<% end %>

<div class="row">
	<div class="span12">
		<%= link_to 'Missions', Mission %> > <%= @packet.title %> Packet
	</div>
</div>

<h3>List All Missions in <%= @packet.title %> Packet</h3>

<table class="table table-striped">
<tr>
	<th><h4>Mission</h4></td>
	<th><h4>Special Rules</h4></td>
	<th><h4>Map</h4></td>
</tr>
<% @missions.each do |mission| %>
<tr>
		<td>
		    <h3><%= link_to mission.name,mission_path(mission.id) %></h3>
			<%= link_to Packet.find(mission.packet_id).title, packet_path(mission.packet_id) %></br>
		    <% if can? :update, mission %>
				<%= link_to 'Edit', edit_mission_path(mission),"class" => "btn btn-primary" %>
				<%= link_to 'Destroy', mission_path(mission), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
			<% end %>
		</td>	
		<td><%= mission.specialRules.gsub('&lt;','<').gsub('&gt;','>').html_safe %></td>
		<td><div class="span4"><img class="img-thumbnail" src="http://sr20x.com/static/img/<%= mission.map %>" alt="<%= mission.name %>"></img></div></td>
</tr>
	<% end %>
</table>
