<%= form_for @mission do |f| %>
  <% if @mission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@mission.errors.count, "error") %> prohibited
      this mission from being saved:</h2>
    <ul>
    <% @mission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<div class="row">
		<div class="col-md-2"><%= f.label :name %></div>
		<div class="col-md-10"><%= f.text_field :name %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :packet %></div>
		<div class="col-md-10"><%= f.text_field :packet %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :victory, "Victory Conditions" %></div>
		<div class="col-md-10"><%= f.text_area :victory %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :specialRules, "Special Rules" %></div>
		<div class="col-md-10"><%= f.text_area :specialRules %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :tacticalTips, "Tactical Tips" %></div>
		<div class="col-md-10"><%= f.text_area :tacticalTips %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :map %></div>
		<div class="col-md-10"><%= f.text_field :map %></div>
	</div>
	<div class="row">
		<div class="col-md-2"><%= f.label :objective %></div>
		<div class="col-md-10"><%= f.text_field :objective %></div>
	</div>
	<div>
		<div class="col-md-2">
		 <%= f.submit %>
		</div>
	</div>
<% end %>
