<% content_for :title do %>
Mission Generator
<% end %>

<div class="row">
	<div class="span12">
		Missions >	
	</div>
</div>

<h3>List All Missions </h3>
<% if can? :update, @missions %>
	<div class="row">
		<div class="span12">
			<%= link_to "New Mission",new_mission_path,"class" => "btn btn-success" %>
		</div>
	</div>
<% end %>


<div class="row">
	<div class="span2"><h2>Mission</h2></div>
	<div class="span8"><h2>Special Rules</h2></div>
	<div class="span2"><h2>Map</h2></div>
</div>
<% @missions.each do |mission| %>
<div class="row">
		<div class="span2">
			<h3><%= link_to mission.name,mission_path(mission.id) %></h3>
		  <% if can? :update, mission %>
				<%= link_to 'Edit', edit_mission_path(mission),"class" => "btn btn-primary" %>
				<%= link_to 'Destroy', mission_path(mission), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
			<% end %>
		</div>	
		<div class="span8"><%= mission.specialRules.gsub('&lt;','<').gsub('&gt;','>').html_safe %></div>
		<div class="span2"><img class="img-thumbnail" src="http://sr20x.com/static/img/<%= mission.map %>" alt="<%= mission.name %>"></img></div>
</div>
	<% end %>
