<h1>Mission #<%= @mission.id %> <%= @mission.name %></h1>

<div class="row">

	<div class="span8">
		<h2>Victory</h2>
		<%= @mission.victory.gsub('&lt;','<').gsub('&gt;','>').html_safe %>
		<h2>Special Rules</h2>
		<%= @mission.specialRules.gsub('&lt;','<').gsub('&gt;','>').html_safe %>
		<h2>Tactical Tip</h2>
		<%= @mission.tacticalTips.gsub('&lt;','<').gsub('&gt;','>').html_safe %>
	</div>
	<div class="span4">
		<img src="http://sr20x.com/static/img/<%= @mission.map %>"></img>
	</div>
</div>
<% if @mission.objective? %>
	<div class="row">
		<div class="span4 offset-8">
	    <img src="http://sr20x.com/static/img/<%= @mission.objective %>"></img>
		</div>	
	</div>
<% end %>
