
<%= form_for @caster do |f| %>
<% if @caster.errors.any? %>
<div id="error_explanation" class="row text-error">
	<div class="span12">
		<h3><%= pluralize(@caster.errors.count, "error") %> prohibited this caster from being saved:</h3>
    <ul>
    <% @caster.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
	</div>
</div>
<% end %>

<div class="row">
	<div class="span2">
		<%= f.label :title, "Caster Name" %>
	</div>
	<div class="span4">
		<%= f.text_field :title %>
	</div>
	<div class="span6">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span2">
		<%= f.label :faction_id, "Faction"%>
	</div>
	<div class="span4">
		<%= f.collection_select(:faction_id, Faction.all, :id, :title) %>
	</div>
	<div class="span6">
		<!--Grid Placeholder -->
	</div>
</div>
<div class="row">
	<div class="span2">
		    <%= f.submit %>
	</div>
</div>
<% end %>
