<% content_for :title do %>
Edit <%= @caster.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > <%= link_to @faction.title,faction_path(@faction.id) %> > <%= link_to @caster.title,caster_path(@caster.id) %> > Edit
	</div>
</div>

<h3>Edit <%= @caster.title %> </h3>
<div class="row">
	<div class="span12">
		<%= link_to 'Destroy', caster_path(@caster), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
	</div>
</div>
<%= render 'form' %>
