<% content_for :title do %>
<%= @caster.title %>
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > <%= link_to @faction.title,faction_path(@faction.id) %> > <%= @caster.title %>
	</div>
</div>

<h3><%= @caster.title %></h3>
<% if can? :update, @caster %>
	<div class="row">
		<div class="span12">
		<%= link_to 'Edit', edit_caster_path(@caster),"class" => "btn btn-primary" %>
		<%= link_to 'Destroy', caster_path(@caster), method: :delete, data: { confirm: 'Are you sure?'},"class"=> "btn btn-danger" %>
		</div>
	</div>
<% end %>

<table class="table table-striped">
<tr>
	<th><h4>List Title</h4></th>
	<th><h4>Size</h4></th>
	<th><h4>Created By</h4></th>
	<th><h4>Created On</h4></th>
</tr>
<% @lists.each do |list| %>
<tr>
	<td><%= link_to list.title, list_path(list.id) %></td>
	<td><%= list.size %></td>
	<td><%= link_to User.find(list.user_id).name, user_path(list.user_id) %>  </td>
	<td><%= list.created_at.strftime('%b %e %Y') %></td>
</tr>
<% end %>
</table>
